@import '../variables';
@import '../mixins';

.navbar {
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: #0B0C10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    font-size: 1.5rem;
    z-index: 100;
    
    &__logo {
        height: 4rem;
        margin-left: $base-margin;

        @include respond-to(small) {
            margin-left: $large-margin;
        }

        img {
            height: 100%;
        }
    }
    &__element {
        margin-right: $base-margin;
        text-align: end;

        @include respond-to(small) {
            margin-right: $large-margin;
        }
    }
}